.pure-button-primary {
    background-color: #205bb0;
}

.pure-menu-link {
    color: white;
    cursor: pointer;
    user-select: none;
}

.pure-menu-link:hover{
    color: #e75c29;
}

.pure-menu-link:hover ,.pure-menu-active{
    background-color: #24478e;
    border-radius: 7px;
}

.pure-menu-link:focus {
    background-color: #24478e;
}

.pure-form select:focus {
    border-color: #205bb0;
}

