.SumoUnder{
    z-index: -1000;
    pointer-events: none;
}
.SumoSelect>.CaptionCont {
    min-height: 16px;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
}
#groups-display-all, #groups-display-none{
    margin-top:2px;
}
.SumoSelect{
    width: 164px;
}
.groups-display-form{
    width: 9%;
}
.groups-display-form select[multiple]{
    height:28px;
    margin-bottom:0;
}

.lsv-single-compact-percentiles, .psi-violin-plot, .dpsi-violin, .excl-incl-rect{
    cursor: default;
}

.lsv-single-compact-percentiles:hover, .psi-violin-plot:hover, .dpsi-violin:hover, .excl-incl-rect:hover{
    box-shadow: none;
}