body {
    font-size: 12px;
    position: absolute;
    height: 100%;
    width: 100%
}

.bottom {
    background-color: #c0d8ee;
}

table {
    background-color: white
}

.dataTables_wrapper{
    max-width: 100%;
    overflow: auto;
}

.menu {
    background-color: #205bb0;
    color: white;
    position: absolute;
    z-index: 3
}

.tools-menu.hide-tools-menu {
    transform: translateY(-100%);
    box-shadow: none;
    transition: all 100ms ease
}

.tools-menu {
    transition: all 100ms ease;
    background-color: #c0d8ee;
    color: black;
    z-index: 2;
    position: absolute;
    width: 100%;
    top: 45px;
    box-shadow: 0 0 25px 10px rgba(0, 0, 0, .3)
}

.gene-header {
    background: white;
    position: absolute;
    top: 45px;
    z-index: 2;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.gene-header > div {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px
}

.gene-header .gene-name {
    font-size: 20px;
    color: #205bb0;
    font-weight: bold
}

.coordinates {
    font-size: 14px;
    color: #205bb0;
    padding-top: 5px;
    height: 20px;
}

.gene-header .gene-id {
    font-size: 16px;
    font-weight: bold;
    color: #e75c29
}

.gene-header .gene-overlap {
    max-width: 600px;
    color: #e75263
}

.splice-graph-container {
    background-color: white;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;

}

.splice-graph-container svg {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.lsv-container > div {
    text-align: center;
    display: inline-grid;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px
}

.lsv-container {
    text-align: center
}

.menu-right {
    float: right
}

.splice-graph-header {
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
    color: #205bb0

}

.splice-graph-header > * {
    display: inline-grid;
    margin-right: 10px;
    vertical-align: middle
}

.content {
    display: flex;
    flex-direction: column;
    height: calc(100% - 147px);
    position: absolute;
    top: 147px;
    width: 100%
}

.top {
    border-bottom: solid lightgrey 1px;
    max-height: 50%;
    flex-shrink: 0;
    overflow-y: auto;
    background-color: white
}

.bottom {
    overflow-y: auto
}

.lsv-header {
    background-color: white;
    padding: 10px;
    border-top: solid lightgray 1px;
    border-right: solid lightgray 1px;
    border-left: solid lightgray 1px
}

.lsv-header > * {
    display: inline-grid;
    vertical-align: middle;
    margin-right: auto;
}

form.het-highlight-form label {
    width: 5em !important;
}

.reads-filter, .mouseover-filter, .select-filter {
    opacity: .2;
}

.mouseover .junction, .select .junction, .mouseover .intron-retention, .select .intron-retention, .mouseover .exon, .select .exon {
    stroke: orange;
    stroke-width: 3px
}

.mouseover .intron-retention, .select .intron-retention, .mouseover .exon, .select .exon {
    fill: orange;
}

.mouseover .junction-reads,
.select .junction-reads,
.select .intron-retention-reads,
.mouseover .intron-retention-reads {
    font-size: 14px
}

.mouseover, .select {
    opacity: 1;
}

.junction-reads, .intron-retention-reads {
    cursor: default;
    user-select: none;
}

.excl-incl-rect {
    width: 200px;
    margin: 0;
}

.highlight-form {
    width: 100px;
}

.highlight-form label {
    text-align: right;
    display: block;
    margin-bottom: 10px;
}

.highlight-form input {
    margin-left: 4px;
}

.legend {
    padding: 5px;
    background: #fffec9;
    border: 2px solid #fc0;
    border-radius: 5px;
    width: 500px;
}

.denovo-ext, .exon-number {
    pointer-events: none;
}

.toggle-scale, .zoom-in, .zoom-out, .zoom-reset, .splice-graph-header img{
    cursor: pointer;
}

.toggle-scale:hover, .zoom-in:hover, .zoom-out:hover, .zoom-reset:hover, .splice-graph-header img:hover{
    box-shadow: 0 0 12px #ffd400;
}

.lsv-single-compact-percentiles, .psi-violin-plot, .dpsi-violin, .excl-incl-rect{
    cursor: pointer;
}

.lsv-single-compact-percentiles:hover, .psi-violin-plot:hover, .dpsi-violin:hover, .excl-incl-rect:hover{
    box-shadow: 0 0 12px #ffd400;
}

.tmp-alert{
    position: fixed;
    top: 9%;
    z-index:1000;
    font-size:16px;
    left: 50%;
    background-color: #ffb2b0;
    border: #ff6864 solid 2px;
    padding:20px;
    border-radius: 10px;
    transform: translate(-50%, 0);

}